@model IEnumerable<WebMusica.Models.Producto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner Ends Here -->
<div class="">
    <section class="">
        <div class="container">
            <div class="row">

                <div class="latest-products">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-heading">
                                    <h2>VISTA DE PRODUCTOS</h2>

                                </div>
                            </div>
                            @if (User.Identity?.IsAuthenticated == true)
                            {
                                <a asp-action="Create" class="btn custom-btn smoothscroll mt-3">CREAR NUEVO</a>
                                <div></div>
                            }
                            @foreach (var item in Model)
                            {
                                <div class="col-md-4">
                                    <div class="product-item">
                                        <a href="#"><img src="@item.UrlImagen" alt=""></a>
                                        <div class="down-content">
                                            <a href="#"><h4>@item.Nombre</h4></a>
                                            <h6>Bs @item.Precio </h6>
                                            <p>@item.Descripcion</p>

                                            <a href="Productos" class="btn btn-success  w-51 ">
                                                <ul class="btn-close-white ">
                                                    <li><i class="fa fa-shopping-cart"></i> Agregar al carrito</li>
                                                </ul>
                                            </a>


                                           
                                            <span> @(item.CantidadExistente > 0 ? "Disponible" : "Agotado")</span>
                                           
                                        </div>
                                        @if (User.Identity?.IsAuthenticated == true)
                                        {
                                            <div class=" text-lg-center ">

                                                <a asp-action="Details" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ver">
                                                    <ul>
                                                        <li><i class="fa fa-eye"></i></li>
                                                    </ul>
                                                </a> |
                                                <a asp-action="Edit" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar">
                                                    <ul>
                                                        <li><i class="fa fa-edit"></i></li>
                                                    </ul>
                                                </a>
                                                |
                                                <a asp-action="Delete" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar">
                                                    <ul>
                                                        <li><i class="fa fa-trash"></i></li>
                                                    </ul>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>

                            }

                            @if (User.Identity?.IsAuthenticated == true)
                            {
                                <a asp-action="Create" class="btn custom-btn smoothscroll mt-3">CREAR NUEVO</a>
                                <div></div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>